<div class="card">
    <h5 class="card-header bg-info">Register User</h5>
    <form #myForm="ngForm">
        <div class="card-body">

            <div class="form-group row">
                <label for="inputState" class="col-sm-2 col-form-label">Select State</label>
                <div class="col-sm-10">
                    <select id="inputState" #state="ngModel" name="state" [(ngModel)]="userModel.state"
                        class="form-control" (change)="getCity()" required>
                        <option selected value="">Please select state</option>
                        <option *ngFor="let state of stdata" value="{{state.state}}">{{state.state}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputcity" class="col-sm-2 col-form-label">Select City</label>
                <div class="col-sm-10">
                    <select id="inputcity" #city="ngModel" (change)="getsiteByCity()" name="city" required [(ngModel)]="userModel.city"
                        class="form-control">
                        <option selected value="">Please select city</option>
                        <option *ngFor="let city of ctdata" value="{{city.cityid}}">{{city.city}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">Site</label>
                <div class="col-sm-10">
                    <select id="inputsitename" #sitename="ngModel"  name="sitename" required [(ngModel)]="userModel.sitename"
                    class="form-control">
                    <option selected value="">Please select Site Name</option>
                    <option *ngFor="let site of siteData" value="{{site.scode}}">{{site.sitename}}</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">User Name</label>
                <div class="col-sm-10">
                    <input type="text" #user="ngModel" [(ngModel)]="userModel.user" required name="user" class="form-control"
                        id="inputEmail4" placeholder="Please enter user name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail5" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" #email="ngModel" [(ngModel)]="userModel.email" required name="email" class="form-control"
                        id="inputEmail5" placeholder="Please enter user email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail6" class="col-sm-2 col-form-label">Contact</label>
                <div class="col-sm-10">
                    <input type="number" #contact="ngModel" minlength=10 maxlength=10 [pattern]="mobNumberPattern" [(ngModel)]="userModel.contact" required name="contact" class="form-control"
                        id="inputEmail6" placeholder="Please enter user contact">
                </div>
            </div>
           
           
           
            <div class="form-group row">
                <label for="inputStater" class="col-sm-2 col-form-label">Select Role</label>
                <div class="col-sm-10">
                    <select id="inputStater" #role="ngModel" name="role" [(ngModel)]="userModel.role"
                        class="form-control"  required>
                        <option selected value="">Please select role</option>
                        <option *ngFor="let state of roleModel" value="{{state.role}}">{{state.role}}</option>
                    </select>
                </div>
            </div>
            <!-- <div *ngIf="mobNumber.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">  
                <div *ngIf="mobNumber.errors.pattern">  
                  Mobile number not valid.  
                </div>   
              </div> -->
        </div>
        <div class="card-footer text-center">
            <div class="form-group row">
                <div class="col-sm-10">
                    <button [disabled]="!myForm.valid" type="submit" (click)="postdata()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<toastr-notification></toastr-notification>  